.articulo1 {
    margin: 0;
    padding: 0;
    
}

.contenedor-productos {
    display: flex;
    
}


.form-carrito {
    display: flex;
    text-align: center;
    align-items: center;
    margin: 0;
    padding: 0;
    
}

.cantidad {
    align-items: center;
}

.agregar {
    border: 0;
    margin: 2px;
    padding: 2px;
    align-items: center;
}