.contenedor-productos{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 50px;
    margin-bottom: 20px;
}

.contenedor-productos img {
    width: 340px;
    height: 320px;
    object-fit: cover;
    border-radius: 20px;
}

.contenedor-productos>div {
   box-shadow: 0px 0px 5px 0px rgba (0,0,0,0.75);
   background-color: rgb(250, 242, 242);
   border-radius: 20px;
   
}

.contenedor-productos>div:hover{
    background-color: rgb(219, 204, 183);
}

.informacion{
   
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: none;
}

.informacion .prod {
    font-size: 20px;
    font-weight: 300;
    font-style: bold;
}

.informacion .precio {
    font-size: 25px;
    font-weight: 500;
}

.form-carrito{
    margin: 10px;
    padding: 10px;
    display: flex;
    align-items: center;
    align-content: center;  
    padding: 0px;
    border-color: #fff;
    flex-direction: column;
    gap: 5px;
}

.informacion .agregar{
    margin: 10px;
    padding: 10px;
    border-radius: 15px;
    border: none;
    font-size: 17px;
    font-weight: 500;
    cursor: pointer; 
    background-color: rgb(65, 40, 40);
}

.informacion .agregar:hover{
    background-color: #5a3c29;
    

}

.informacion .cantidad{
    margin: 10px;
    padding: 10px;
    border-radius: 15px;
    border: none;
    font-size: 17px;
    background-color: rgb(196, 166, 118);
    display: flex;
    align-content: center;
    text-align: center;
    color: #fff;
}

.informacion .cantidad:hover{
    background-color: rgb(196, 150, 85);
    color: #5a3c29;
}