.catalogo {
  margin: 5px;
  padding: 5px;
  text-align:center;
  font-size: 1.1vw;
  font-weight: 500;
}

.catalogo img {
  border-radius: 45%;
}

.contenido {
  font-size: 1.1vw;
  font-weight: 500;
  padding: 20px;
  margin: 20px;
}

.contenido p {
  text-align: justify;
}

/*Se define clase uno para poder aplicar el efecto hover que consiste en que la imagen se agranda como se le aplicaran zoom a la imagen*/
.uno{
  margin: 10px;
  padding: 10px;
  transition: transform .9s; 
 }

.uno:hover {
  transform: scale(1.50); 
}

