footer{
    text-align: center;
    border: 5px solid black;
    height: 16svh;
    padding: 0;
    margin: 0;
}

footer p {
    color: rgb(105, 37, 37);
    padding: 5px;
    margin: 0; 
    border: 0;
  }

  footer div {
    padding: 5px;
    margin: 0; 
    border: 0;
  }