.contenedor{
    width: 90% ;
    height: 100%;
    max-width: 3000px;
    margin: 10px auto;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-areas: 
                        "sidebar filo filo filo"
                        "produ produ produ sidebar2";
    font-size: 1.1vw;
    font-weight: 500;
}

.contenedor > div{
    padding: 0;
    margin: 0;
    }

.title{
    margin: 0;
    padding: 0;
    grid-area: title;
    font-size: 2.2vw;
    font-weight: 500;
}

.contenedor .filo{
    margin: 0;
    padding: 0;
    text-align: justify;
    grid-area: filo;
}

.contenedor .produ{
    margin: 0;
    padding: 0;
    background-color: transparent;
    grid-area: produ;
}

.contenedor .sidebar{ 
    margin: 0;
    padding: 0;
    grid-area: sidebar;
    height: 52vh;
    width: 15vw;
    overflow: hidden;
    border-radius: 5vh;
}

.sidebar ul{
    display: flex;
    padding: 0;
    width: 400%;
    animation: slide 15s infinite alternate ease-in-out;
}

.sidebar li{
    width: 100%;
    list-style: none;
    position: relative;
}

.sidebar img{
    width: 100%;
}

.contenedor .sidebar2{
    margin: 0;
    padding: 0;
    grid-area: sidebar2;
    height: 35vh;
    width: 45vh;
    border-radius: 5vh;
    size: 100%;
    overflow: hidden;
}


@keyframes slide {
    0% {margin-left: 0;}
    20% {margin-left: 0;}

    25% {margin-left: -100%;}
    45% {margin-left: -100%;}

    50% {margin-left: -200%;}
    70% {margin-left: -200%;}

    75% {margin-left: -300%;}
    100% {margin-left: -300%;}
}