body, ul{
  margin: 0; padding: 0;
 
}
body{
  background-color: #d0b49f;
}

header{
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #a47551;
  width: 100%;
  height: 60px;
}

.logo img{
  max-width: 100px;
}

.menu{
  list-style: none;
  display: flex;
}

.menu li{
  color: #E4D4C8;
  margin: 0;
  box-sizing: border-box;
   padding-top: 10px; padding-bottom: 10px;
   padding-left: 15px ; padding-right: 15px;
  
}

.menu a{
  text-decoration: none;
  color: #E4D4C8;
}
.menu a:hover{
    text-decoration: none;
    color:#332013;
}
.menu li:hover{
    background-color: #d0b49f;
    color: #332013;
    
}

.marquee{
  padding: 0;
  background-color:#332013;
  color: #d0b49f;
  align-items: center;
  
}
