main {
    padding: 0;
    margin: 0;
    background-image: url(/);
}

main div {
  margin: 5px;
  padding: 5px;
  text-align:center;
}

main h1 {
  text-align:center;
}

.entrada {
  padding: 0px;
  width: 100%;
  height: 200px;
  border: 0;
  position: relative;
  margin: 0;
  top: 0;
  background-image: url('https://img.freepik.com/fotos-premium/productos-chocolate-diferentes-tipos-primer-plano-fondo-color-lugar-texto_441923-81.jpg');
  background-size: cover; 
  
}

.texto-entrada {
  list-style: none;
  width: 70%;
  font-size: 20px;
  font-family: 'Satisfy', cursive;
     }

.boton-enlace {
  margin: 2px;
  padding: 2px 20px;
  font-size: 16px;
  text-align: center;
  text-decoration: none;
  border: 2px solid #92603b;
  background-color: #92603b;
  color: #fff;
  border-radius: 5px;
  transition: background-color 0.3s ease;
  position: relative;
  }

.boton-enlace:hover {
  background-color: #b1815d;
  border: 2px solid #b1815d;
}

.imagen{
  width: 50%;
}

.general {
  height: 70%;
  width: 90%; /*ancho*/
  margin: auto;
  padding: 40px 0;
  display: grid; /*declara qe la clase serà dividida en grid (red o reja)*/
  grid-template-columns: 1fr 3fr; /*declara qe la clase serà divida en dos colunmnas, la primera de una fraccion y la segunda de tres fracciones*/
  gap: 20px; /*espaciado entre grid: 20 pixeles*/
         }

.division1 {
  font-size: 1vh;;
  display: grid; 
  grid-template-columns: repeat(3, 1fr); /*con la funcion repetir, se puede leeer: repetir tres columnas de a una fraccion cada una*/
  gap: 20px;
  }

.imagenes {
  height: 20svh;
  border-radius: 50px; /*establece el redondeo de las esquinas del elemento.*/
  min-height: 200px; /*altura minima*/
  font-weight: bold; /*specifica el peso o grueso de la letra.*/
  padding: 20px;
  position: relative; /*posiciòn relativa: El elemento es posicionado de acuerdo al flujo normal del documento, y luego es desplazado con relación a sí mismo, con base en los valores de top, right, bottom, and left*/
  overflow: hidden; /*desbordamiento escondido: El contenido desbordado se recorta en el cuadro de relleno del elemento. No hay barras de desplazamiento y el contenido recortado no es visible (es decir, el contenido recortado está oculto), pero el contenido aún existe.*/
  background-size: cover; /*medida de la imagen de fondo cubierto: Escala la imagen (conservando su proporción) al tamaño más pequeño posible para llenar el contenedor (es decir: tanto su alto como su ancho cubren completamente el contenedor), sin dejar espacios vacíos.*/
  background-position: center center; /*posicion de imagen de fondo en el centro*/
  transition: transform .8s; 
  }

.imagenes:hover{
  transform: scale(1.3); 
}

.division2 {
  border-radius: 50px;
  text-align: center;
  padding: 20px;
  background-size: cover;
  background-position: center center;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
                }

                
